nav{
    height: 7%;
    background-color: rgb(82, 81, 81);
    display: flex;
    justify-content: space-between;
    color: aliceblue;

}

a{
    text-decoration: none;
    background-color: rgb(82, 81, 81);
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:active{
    color: black;
}