*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.user-info{
    height: 60px;
    width: 280px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}
.user-info:hover{
    background-color: gray;
}