*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 2% ;
}
aside{
    height: 100%;
    border: 2px solid gray;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}
main{
    width: 70%;
}
img{
    max-width: 250px;
    height: 150px;
}
.img-block{
    height: 180px;
    background-color: rgb(47, 47, 47);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-block{
    margin-top: 3%;
    margin-bottom: 3%;
}
