<body>
  <aside>
      <div class="img-block"><img src="../assets/user.png"></div>
      <div class="info-block">
          <app-user-info></app-user-info>
      </div>
  </aside>
  <main>
    <app-nav (getTabNameEvent)="passTabName($event)"></app-nav>
    <router-outlet></router-outlet>
  </main>
</body>