.info {
    border: 1px solid black;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    padding-left: 2%;
} 

h2{
    text-align: center;
    background-color: rgb(138, 138, 138);
    color: rgb(211, 211, 211);
}

.block{
    background-color: rgb(75, 75, 75);
    width: 100%;
}

button{
    height: 25px;
}

.itemProp{
    background-color: rgb(234, 234, 234);
}