<section *ngIf="item">
    <div class='block'><button (click)="goBack()">Back</button></div>
    <h2>{{item.name | uppercase}}</h2>
    <section *ngFor="let itemValue of item | keyvalue" class="info">
        <span class="itemProp">{{itemValue.key}} : </span>
        <div *ngIf="checkString(itemValue.value) else dataBlock">
            <a href="{{itemValue.value}}" class="itemProp">{{itemValue.value}}</a>
        </div>
        <ng-template #dataBlock>
            <span class="itemProp">{{itemValue.value}}</span>
        </ng-template>
    </section>
</section>