<span *ngIf="response; else loading">
    <div class="div" *ngFor="let item of response; let i = index" (click)="getElement(item)" routerLink='{{i}}'>
        {{item.name}}
    </div>
    <div>
        <div class="buttonsBlock">
            <span class="button" (click)="getPage(1)" routerLink="/{{tabName}}">&#60;&#60;</span>
            <span class="button" (click)="previous()">&#60;</span>
            <span class="button" *ngFor="let i of countArr" (click)="getPage(i)">{{i}}</span>
            <span class="button" (click)="next()">&#62;</span>
            <span class="button" (click)="getPage(countArr.length)">&#62;&#62;</span>
        </div>
    </div>
</span>
<ng-template #loading>
    <app-loading></app-loading>
</ng-template>