.div{
    height: 7%;
    border: 1px solid black;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    padding-left: 2%;
    cursor: pointer;
}
.div:hover{
    background-color: darkgray;
}
button{
    width: 15%;
    height: 30px;
    border-radius: 50px;
    background-color:rgb(96, 95, 95);
    color: white;
}
.buttonsBlock{
    display: flex;
    margin-top: 3%;
    width: 50%;
}

.button{
    width: 25px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}